.idea
.gradle
*.iml
out
build
gradle
gradlew*
*.class
transaction-logs
.project
.settings
target
.classpath
WebContent
bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

gradlew
gradlew.bat
.DS_Store
generated