<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>
        ProSpring5 Singer Boot Application
    </title>
    <link type="text/css" rel="stylesheet" href="/general.css"/>
</head>

<body>
<div class="page">
    <h2>ProSpring5 Singer Boot Application</h2>
    <h3>Overview</h3>
    <ul>
        <li>This is a simple web application that manages a singer database. It does the following:</li>
        <li>List Singers</li>
        <li>Create Singer</li>
        <li>Edit Singer</li>
    </ul>

    <div class="footer">
        <p>Copyright © 2017 by Iuliana Cosmina and Apress. All rights reserved.</p>
    </div>
</div>
</body>
</html>
