table {
    background-color: #FFFFE0;
    border-collapse: collapse;
    color: #000;
}

table thead {
    background-color: #BDB76B;
    color: white;
    width: 50%;
    font-weight: bold;
}

table td th {
    padding: 5px;
    border: 0;
    alignment: left;
}

table td {
    border-bottom: 1px dotted #BDB76B;
}

.menu{
    line-height:30px;
    width:150px;
    float:left;
    padding:5px;
}

.footer{
    clear:both;
    text-align:left;
    padding:10px;
}

.error{
    border: 1px solid;
    margin: 5px 0px;
    padding:5px 5px 5px 50px;
    color: #D8000C;
    background-color: #FFBABA;
}


.man {
    color: #D8000C;
    font-weight: bold;
}