table {
    background-color: #FFFFE0;
    border-collapse: collapse;
    color: #000;
}

table thead{
    background-color: #BDB76B;
    color: white;
    width: 50%;
    font-weight: bold;
}

table td {
    padding: 5px;
    border: 0;
}

table td {
    border-bottom: 1px dotted #BDB76B;
}

.menu{
    line-height:30px;
    width:100px;
    float:left;
    padding:5px;
}

.footer{
    clear:both;
    text-align:left;
    padding:10px;
}

.error{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    color: #D8000C;
    background-color: #FFBABA;
}

a:link {
    color: #228B22;
    text-decoration: underline;
    font-size: 14px;
    background: transparent;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
    font-size: 16px;
    background: transparent;
}

.content {
    background-color: #D8F6CE;
    float: left;
    padding: 10px;
}

.footer p {
    color: #228B22;
    font-size: 12px;
    font-style: italic;
}

h2{
    color: #228B22;
}